In [1]:
import pandas as pd

# On charge la base ordonnée
df = pd.read_csv('trafic_2021_ordonne.csv', sep=';')

# Nettoyage final pour l'affichage Jupyter
df['Arrondissement pour Paris'] = df['Arrondissement pour Paris'].fillna('')

# --- VUE 1 : Par Ville ---
view_ville = df.groupby(['Ville', 'Réseau']).agg({
    'Station': 'count',
    'Trafic': 'sum'
}).rename(columns={'Station': 'Nombre de Stations', 'Trafic': 'Trafic Total'}).sort_values('Trafic Total', ascending=False)

# --- VUE 2 : Par Arrondissement (Paris) ---
view_paris = df[df['Ville'] == 'Paris'].groupby('Arrondissement pour Paris').agg({
    'Station': 'count',
    'Trafic': 'sum'
}).sort_values('Trafic', ascending=False)

print("✅ Bases de consultation prêtes !")

✅ Bases de consultation prêtes !

In [2]:
df.head(10)

,Rang,Réseau,Station,Trafic,Correspondance_1,Correspondance_2,Correspondance_3,Correspondance_4,Correspondance_5,Ville,Arrondissement pour Paris
0,1,Métro,GARE DU NORD,34503097,4,5,NaN,NaN,NaN,Paris,10.0
1,1,RER,GARE DU NORD-RER,32102825,B,NaN,NaN,NaN,NaN,Paris,10.0
2,2,Métro,SAINT-LAZARE,33128384,3,9,12,13.0,14.0,Paris,8.0
3,2,RER,GARE DE LYON-RER,27505309,A,NaN,NaN,NaN,NaN,Paris,12.0
4,3,RER,CHATELET-LES HALLES-RER,24100383,A,B,NaN,NaN,NaN,Paris,1.0
5,3,Métro,GARE DE LYON,28640475,1,14,A,NaN,NaN,Paris,12.0
6,4,RER,LA DEFENSE-RER,17570475,A,NaN,NaN,NaN,NaN,Puteaux,
7,4,Métro,MONTPARNASSE-BIENVENUE,20407224,4,6,12,13.0,NaN,Paris,14.0
8,5,RER,NANTERRE-PREFECTURE,16665520,A,NaN,NaN,NaN,NaN,Nanterre,
9,5,Métro,GARE DE L'EST,15538471,4,5,7,NaN,NaN,Paris,10.0

In [3]:
view_ville

                              Nombre de Stations  Trafic Total
Ville                 Réseau
Paris                 Métro                  245     752581446
                      RER                     11     117181460
Nanterre              RER                      3      22727760
Puteaux               RER                      1      17570475
Boulogne Billancourt  Métro                    5      14155619
...                                          ...           ...
Fontenay aux roses    RER                      1        888408
Gif sur Yvette        RER                      2        836547
Bures sur Yvette      RER                      2        732374
St-Rémy-Lès-Chevreuse RER                      1        628974
sceaux                RER                      1        538058

[70 rows x 2 columns]

In [4]:
df[df['Station'] == 'REPUBLIQUE']
df[df['Arrondissement pour Paris'] == 11]

,Rang,Réseau,Station,Trafic,Correspondance_1,Correspondance_2,Correspondance_3,Correspondance_4,Correspondance_5,Ville,Arrondissement pour Paris
12,7,Métro,REPUBLIQUE,11079708,3,5,8,9.0,11.0,Paris,11.0
147,82,Métro,VOLTAIRE,3454006,9,NaN,NaN,NaN,NaN,Paris,11.0
161,96,Métro,OBERKAMPF,3205110,5,9,NaN,NaN,NaN,Paris,11.0
183,118,Métro,MENILMONTANT,2847264,2,NaN,NaN,NaN,NaN,Paris,11.0
202,137,Métro,ALEXANDRE DUMAS,2476608,2,NaN,NaN,NaN,NaN,Paris,11.0
224,159,Métro,GONCOURT,2199170,11,NaN,NaN,NaN,NaN,Paris,11.0
230,165,Métro,SAINT-AMBROISE,2158466,9,NaN,NaN,NaN,NaN,Paris,11.0
231,166,Métro,COURONNES,2151515,2,NaN,NaN,NaN,NaN,Paris,11.0
240,175,Métro,PARMENTIER,2037234,3,NaN,NaN,NaN,NaN,Paris,11.0
243,178,Métro,SAINT-MAUR,2004445,3,NaN,NaN,NaN,NaN,Paris,11.0
262,197,Métro,RUE DES BOULETS,1832442,9,NaN,NaN,NaN,NaN,Paris,11.0
293,228,Métro,RICHARD LENOIR,1544636,5,NaN,NaN,NaN,NaN,Paris,11.0
302,237,Métro,BREGUET-SABIN,1490160,5,NaN,NaN,NaN,NaN,Paris,11.0
314,249,Métro,AVRON,1345521,2,NaN,NaN,NaN,NaN,Paris,11.0
321,256,Métro,PHILIPPE AUGUSTE,1262653,2,NaN,NaN,NaN,NaN,Paris,11.0
347,282,Métro,CHEMIN VERT,1018958,8,NaN,NaN,NaN,NaN,Paris,11.0